@model List<ResultFeatureDTO>

@{
    ViewData["Title"] = "Öne Çıkanlar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

@if (Model.Count > 0)
{
    <table class="table table-hover table-bordered">
        <tr>
            <th>#</th>
            <th>Resim URL</th>
            <th>Başlık</th>
            <th>Alt-Başlık</th>
            <th>m2</th>
            <th>Kontrat Türü</th>
            <th>Güvenlik</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td><img src="@item.ImageURL" style="height:50px; width:50px" /></td>
                <td>@item.Title</td>
                <td>@item.SubTitle</td>
                <td>@item.Square</td>
                <td>@item.Contract</td>
                <td>@(item.HasSafety ? "Var" : "Yok")</td>
                <td>
                    <a href="#" onclick="return deleteFeature('@item.ID')" class="btn btn-outline-danger"><i class="la la-trash"></i> Sil</a>
                </td>
                <td>
                    <a href="/Admin/Feature/UpdateFeature/@item.ID" class="btn btn-outline-info"><i class="la la-pencil"></i> Güncelle</a>
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>Kayıtlı Herhangi Bir Öne Çıkan Bilgisi Verisi Bulunmamaktatır.</p>
}
<a href="/Admin/Feature/CreateFeature/" class="btn btn-outline-primary"><i class="la la-plus-circle"></i> Yeni Önce Çıkan Bilgisi Ekle</a>

<script>
    function deleteFeature(id) {
        Swal.fire({
            title: 'Silmek istediğinize emin misiniz?',
            text: 'Bu öğeyi silerseniz geri alamazsınız!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sil',
            cancelButtonText: 'İptal'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/Admin/Feature/DeleteFeature?id=" + id;
            }
        });
    }
</script>