@model List<ResultSubHeaderDTO>

@{
    ViewData["Title"] = "Bize Ulaşın";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

@if (Model.Count > 0)
{
    <table class="table table-hover table-bordered">
        <tr>
            <th>ID :</th>
            <td>@Model[0].ID</td>
        </tr>
        <tr>
            <th>Adres :</th>
            <td>@Model[0].Address</td>
        </tr>
        <tr>
            <th>Mail Adresi :</th>
            <td>@Model[0].Email</td>
        </tr>
        <tr>
            <th>Facebook :</th>
            <td><a href="@Model[0].Facebook" target="_blank">@Model[0].Facebook</a></td>
        </tr>
        <tr>
            <th>Twitter :</th>
            <td><a href="@Model[0].Twitter" target="_blank">@Model[0].Twitter</a></td>
        </tr>
        <tr>
            <th>LinkedIn :</th>
            <td><a href="@Model[0].Linkedin" target="_blank">@Model[0].Linkedin</a></td>
        </tr>
        <tr>
            <th>Instagram :</th>
            <td><a href="@Model[0].Instagram" target="_blank">@Model[0].Instagram</a></td>
        </tr>
    </table>
    <a href="/Admin/SubHeader/UpdateSubHeader/@Model[0].ID" class="btn btn-outline-info"><i class="la la-pencil"></i> Güncelle</a>
}
else
{
    <p>Kayıtlı Herhangi Bir Bize Ulaşın Bilgisi Verisi Bulunmamaktatır.</p>
    <br />
    <a href="/Admin/SubHeader/CreateSubHeader/" class="btn btn-outline-dark"><i class="la la-plus-circle"></i> Yeni Bize Ulaşın Bilgisi Ekle</a>
}

<script>
    function deleteSubHeader(id) {
        Swal.fire({
            title: 'Silmek istediğinize emin misiniz?',
            text: 'Bu öğeyi silerseniz geri alamazsınız!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sil',
            cancelButtonText: 'İptal'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/Admin/SubHeader/DeleteSubHeader?id=" + id;
            }
        });
    }
</script>